<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>ganalytics</name>
            <displayName><![CDATA[Google Analytics]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Permet &agrave; l&#039;utilisateur de suivre son site sur Google analytics]]></description>
            <author><![CDATA[Fabien Dobat]]></author>
            <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall>Êtes-vous sur de vouloir désinstaller le module?</confirmUninstall>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>